body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  overflow-y: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.container {
  max-width: 700px;
  height: 50vh;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#searchResults {
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

#searchResults div {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#searchResults div:hover {
  background-color: #e2e2e2;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
